<div class="row p-0 mb-3">
  <div class="col-md-3 pt-0">
    <app-footer-left-menu></app-footer-left-menu>
  </div>
  <div class="col-md-9" *ngIf="!DataLoading">
    <h5 class="header-style">Partners</h5>
    <div *ngFor="let partner of partenersList">
      <div class="card mb-2">
        <div class="card-header">
          <h6>{{ partner.title }}</h6>
        </div>
        <div class="card-body pt-0 pb-0">
          <div class="row" style="align-items: center">
            <div class="col-md-2 p-0">
              <img
                src="{{ partner.imageLink }}"
                alt="{{ partner.imageName }}"
                class="squaire mx-2"
              />
            </div>
            <div class="col-md-10">
              <a class="card-text small blueLink" href="{{ partner.textLink }}">
                {{ partner.text }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header"><h6>Guest Posts / Sponsored Posts</h6></div>
      <div class="card-body">
        <p>
          Options #1: Guest Posts - If you wish to have a guest post to write
          articles for us, contact us with all your details.
        </p>
        <p>
          Options #2: Sponsored Posts - If you wish to have a spondored post to
          promote your products and services with us, contact us so that we can
          get started.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-9" *ngIf="DataLoading">
    <div class="border mb-2 pt-2 pl-2 pr-2">
      <ngx-skeleton-loader></ngx-skeleton-loader>
    </div>
    <div class="border p-3">
      <ngx-skeleton-loader count="30"></ngx-skeleton-loader>
    </div>
  </div>
</div>
