 .divColor {
    border-bottom: 7px solid #1E90FF;
  }

  .div-bottom-color {
    border-top: 7px solid #1E90FF;
  }

  .navbar {
    flex-flow: row nowrap;
  }

  .navbar-nav
  {
    flex-grow: 1;
    flex-direction: row;
    max-width: 100%;
  }

  .navbar-nav li
  {
    padding: 0 3px;
  }

  .navbar-nav .dropdown-menu
  {
    position: absolute;
    width: fit-content;
   }

  .nav-desk-top {
    display: none;
  }

  @media (min-Width:769px) {
    .nav-mobile {
      display: none;
     }

    .nav-desk-top {
     display: list-item;
    }
  }

  @media (max-Width:768px) {
    .nav-mobile .navbar-nav {
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
