.btn-footer {
  width: 6.5rem;
  color: white;
  border: 1px solid white;
}
.btn-footer:hover {
  color: #1e90ff;
  border-color: #1e90ff;
}
.second-row {
  padding: 0;
}
.main-mode {
  display: flex;
}
.mobile-mode {
  display: none;
}
.resource-box {
  height: 296px;
}
.left-up-down-arrow {
  display: block;
  position: absolute;
  fill: white;
  left: 0;
  top: 5px;
  cursor: pointer;
  z-index: 2222;
}
.right-up-down-arrow {
  display: block;
  position: absolute;
  fill: white;
  right: 0;
  top: 5px;
  cursor: pointer;
  z-index: 2222;
}
.footer-separator {
  position: relative;
}
.footer-separator::after {
  content: "|";
  position: absolute;
  right: 0;
  width: 1px;
  color: white;
  height: 100%;
}
.navbar-nav > li.nav-item.footer-separator {
  padding-left: 5px;
  padding-right: 5px;
}
@media (max-width: 768px) {
  .second-row {
    padding: 4px 0 4px 23px !important;
    border-top: solid 1px #e5e5e5;
  }
}
@media (min-width: 320px) and (max-width: 1200px) {
  .main-mode {
    display: none;
  }
  .mobile-mode {
    display: flex;
  }
  .navbar {
    flex-direction: row !important ;
    justify-content: space-evenly !important;
  }
  .navbar-nav {
    flex-direction: row !important ;
    flex-wrap: nowrap !important;
    justify-content: space-between;
    padding-left: 2.5px;
    flex-grow: 2;
  }
  .navbar-nav > li {
    padding: 2.7px !important;
  }
  li.top-menu {
    flex-grow: 3;
  }

  div.i1-media-title {
    text-align: center;
  }
  div.i1-media-title > a {
    font-size: 12px !important;
  }
  div.footer-buttons {
    flex-wrap: nowrap;
    text-align: center;
    margin-bottom: 10px;
  }

  .resource-box {
    height: auto;
  }
}
@media (max-width: 1200px) {
  .left-up-down-arrow {
    left: 0;
  }
  .right-up-down-arrow {
    right: 0;
  }
}
